@import url(https://fonts.googleapis.com/css2?family=Public+Sans);
@import url(https://fonts.googleapis.com/css2?family=Overpass+Mono);
@import url(https://fonts.googleapis.com/css2?family=Zilla+Slab);

:root {
  --color-bg: #241919;
  --color-bg-comp: #192424;
  --color-triadic1: #847ef9;
  --color-triadic2: #f9847e;
  --color-triadic3: #7df984;
  --color-text: #bababa;
  --font-serif: 'Libre Baskerville';
  --font-mono:  'Overpass Mono';
  --font-sans:  'Public Sans';
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans), sans-serif;
  text-transform: lowercase;
  overflow: hidden;
  background: var(--color-bg-comp);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-triadic2);
  text-decoration: none;
  transition: color 500ms;
}

a:hover {
  color: var(--color-triadic1);
  transition: color 500ms;
}

ul {
  margin-top: .3rem;
}

ul li {
  font-size: .9rem;
  padding-top: .15rem;
}

li::marker {
  content: '';
}

input {
  outline: none;
  border-radius: .7rem; 
}

.video, .image {
  overflow: hidden;
}

video, img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-rows: repeat(4, 9rem);
  grid-template-columns: repeat(7, 9rem);
  row-gap: 2rem;
  column-gap: 2rem;
}

.container>div {
  border: 5px solid var(--color-text);
  border-radius: .75rem;
  background: var(--color-bg);
}
.container>div:hover {
}

.cell {
  display: flex;
  flex-direction: column;
}

.bookmarks {
  padding: 1rem;
  overflow: scroll;
  scrollbar-width: none;
}

.bookmarks>span {
  font-weight: bold;
  color: var(--color-triadic3);
}

.bookmarks>li {
  padding-top: .8rem;
}

.size-2x1 {
  grid-row: span 1 / span 1;
  grid-column: span 2 / span 2;
}

.size-1x2 {
  grid-row: span 2 / span 2;
  grid-column: span 1 / span 1;
}

.size-2x2 {
  grid-row: span 2 / span 2;
  grid-column: span 2 / span 2;
}

.size-3x2 {
  grid-row: span 2 / span 2;
  grid-column: span 3 / span 3;
}

.search {
  justify-content: center;
  align-items: center;
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 16rem;
  margin-right: -16rem;
  border-left: 1px solid #bababa88;
  padding: 1.2rem;
  transition: margin 400ms;
  font-family: "Zilla Slab", serif;
  display: flex;
  flex-direction: column;
}


.settings span {
  font-size: .8rem;
  font-style: italic;
  margin-top: auto;
}
.settings ul {
  margin-top: 0;
}

.settings-open {
  margin-right: 0;
  transition: margin 400ms;
}

#engines {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#engines span {
  padding-left: .7rem;
  padding-right: .7rem;
  opacity: 50%;
  transition: all 250ms ease-in-out;
}

#engines .selected {
  color: var(--color-triadic1);
  opacity: 100%;
  transition: all 250ms ease-in-out;
}


#settings {
  padding: 2rem;
}

.filter {
  filter: grayscale(1);
  transition: all 400ms ease-in-out;
}

#settings:hover .filter {
  transform: rotate(90deg);
  filter: none;
  transition: all 400ms ease-in-out;
}

#date, #time {
  margin-left: auto;
  margin-right: auto;
}

#time {
  font-size: 1.5rem;
  margin-top: auto;
  color: var(--color-triadic3);
}

#date {
  margin-bottom: auto;
  color: var(--color-triadic1);
}
